*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
display: flex;
justify-content: center;
align-items: center;
height: 90vh;
}
.calc{
    background-color: black;
    height: 370px;
    width: 300px;
    text-align: center;
    border-radius: 20px;
    border: 3px solid blue;
   
}
.calc:hover{
    transform: scale(1.3);
    transition: .5s ease-in-out;
}
.calc h4{
    padding: 20px 0px 20px 0px;
    font-size: 25px;
}

.place input{
    padding:6px;
    width: 85%;
    font-size: 20px;
    outline: none;
    font-weight: 900;
    border-radius: 30px;
}
.place input::placeholder{
    text-align: end;
}
.first{
    margin: 30px 0px 15px 0px;
}
.first button{
    margin: 0px 3px;
    padding: 10px;
    border-radius: 50px;
    border: none;
    background-color: blue;
}
.second{
        margin: 15px 0px 15px 0px;  
}
.second button{
    margin: 0px 3px;
    padding: 10px 18px;
    border-radius: 50px;
    border: none;
}
#equalto{
    animation:mymove 2s infinite;

}
@keyframes mymove{
    0% {color: red;}
    25% {color:rgb(197, 34, 34) ;}

}